[Unit]
Description=APP_PUMA
After=network.target
fter=mongod.service
Requires=mongod.service

[Service]
Type=simple
User=appuser
WorkingDirectory=/home/appuser/reddit
ExecStart=/usr/bin/bundle exec puma -b tcp://0.0.0.0:9292
OOMScoreAdjust=-1000
Restart=always
RestartSec=10
TimeoutSec=300

[Install]
WantedBy=multi-user.target
